@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

#title {
    font-size: 40px;
    margin-top: 40px;
    color:coral;
}

#logo {
    font-size: 50px;
    display: inline-block;
    border-radius: 7px;
    background-color: coral;
    margin-top: 10px;
}

.paragraph {
    margin-top: 30px;
    font-size: 20px;
}

#first,
#second,
#third,
#fourth {
    animation: 2s anim-lineUp ease-out;
    animation-fill-mode: forwards;
    color: white;
}

#first {
    animation-delay: 2s;
}

#second {
    animation-delay: 5s;
}

#third {
    animation-delay: 7s;
}

#fourth {
    animation-delay: 10s;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
        color: black;
    }
}

button {
    padding: 3px 5px;
}