@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

#title {
    font-size: 30;
    margin-top: 40px;
    color:rgb(6, 179, 58);
}

#logo {
    font-size: 50px;
    display: inline-block;
    border-radius: 50%;
    border: 10px solid rgb(6, 179, 58);
    background-color: rgb(6, 179, 58);
    margin-top: 20px;
}

.paragraph {
    margin-top: 40px;
    font-size: 18px;
}

#first,
#second,
#third,
#fourth {
    animation: 2s anim-lineUp ease-out;
    animation-fill-mode: forwards;
    color: white;
}

#first {
    animation-delay: 1s;
}

#second {
    animation-delay: 4s;
}

#third {
    animation-delay: 8s;
}

#fourth {
    animation-delay: 11s;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
        color: black;
    }
}

button {
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 7px;
    border: 0;
    opacity: 0;
    animation: 2s anim-lineUp ease-out;
    animation-fill-mode: forwards;
    animation-delay: 13s;
    background-color: rgb(6, 179, 58);
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

button > a {
    color: white;
    text-decoration: none;
}

#register-button {
    margin-top: 50px;
}

button:hover {
    background-color: rgb(7, 231, 156);
}

form {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    text-align: left;
    width: 300px;
    font-size: 12px;
    color: rgb(3, 156, 49);
}

input {
    margin-top: 7px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 1px solid gray;
    padding: 10px;
}

#submit {
    background-color: rgb(6, 179, 58);
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 40px;
}

#register-title {
    margin-top: 50px;
}

.button-login {
    animation: none;
    opacity: 100%;
    width: fit-content;
    padding: 10px;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
}

.forgot {
    background-color: brown;
}

#login-title {
    margin-top: 50px;
}